.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

/* конкретна кількість блоків*/
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* мотає вперед назад */
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */

}

/* без усе зникає */
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* мотає вперед назад */
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

/* прозорі цяточки */
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

/* блоки */
.owl-carousel.owl-loaded {
  display: block;
}